<template>
  <div id="wrapper">
  <el-container>
    <el-header ><top-bar></top-bar></el-header>
    <el-container>
      <el-aside style="width: 200px; height: 100vh"><project-bar></project-bar></el-aside>
      <workspace></workspace>
    </el-container>
  </el-container>
  </div>
</template>

<script>
  import TopBar from './MainPage/TopBar'
  import ProjectBar from './MainPage/ProjectBar'
  import Workspace from './MainPage/Workspace'

  export default {
    name: 'landing-page',
    components: { TopBar, ProjectBar, Workspace }
  }
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.el-header {
  height:80px;
}

main {
display: flex;
  justify-content: space-between;
}
</style>
