<template>
    <project-tree></project-tree>
</template>

<script>
  import ProjectTree from './ProjectBar/ProjectTree'

  export default {
    name: 'landing-page',
    components: { ProjectTree },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style>
</style>
