<template>
<div id="topbar">
  <el-row id="namebar">
    <span id="namebar-title">Erujo</span>

    <el-button-group id="namebar-btns">
      <el-button id="namebar-min-btn" type="info" icon="el-icon-bottom" circle size="mini"></el-button>
      <el-button id="namebar-max-btn" type="info" icon="el-icon-top-right" circle size="mini"></el-button>
      <el-button id="namebar-close-btn" type="danger" icon="el-icon-circle-close" circle size="mini"></el-button>
    </el-button-group>
  </el-row>
  <el-row id="toolbar">
    <el-button-group>
      <el-button type="text" icon="el-icon-folder-opened"></el-button>
      <el-button type="text" icon="el-icon-share"></el-button>
      <el-button type="text" icon="el-icon-delete"></el-button>
    </el-button-group>
  </el-row>
</div>
</template>

<script>
</script>

<style>
#topbar {
  margin: 5px;
  padding: 5px;
  height: 80px;

}

#namebar {
  -webkit-app-region: drag;
}

#namebar-title {
  align: center;
}

#namebar-btns {
  position: absolute;
  right: 0px;
}

#toolbar {
  padding: 5px;
  height: 80px;
}

#toolbar .el-button {
  font-size: 24px;
}

</style>
