<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'erujo'
  }
</script>

<style>

#app {
  width: 100vw;
  height: 100vh;
}
</style>
